.app-card {

  margin-bottom: 0.8rem;
  border-radius: 5px;

  .MuiExpansionPanelSummary-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .MuiExpansionPanelDetails-root {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
  }

  h2 {
    margin: 0px;
  }

 .answer {
   margin: 0;
   padding: 5px;
   font-size: 1.3rem;
   font-weight: bold;
 }

 .links {
   display: flex;
   align-items: baseline;
   margin-top: 1rem;

   h3 {
    margin: 0;
   }

   a {
    display: block;
    padding-left: 1rem;
    padding-left: 1rem;
   }
 }

 .details {
   display: flex;
   flex-direction: row;
   .detail {
     margin: 1rem 1rem 0rem 1rem;

     h4 {
       margin-bottom: 0.5rem;
     }
     
     p {
       border: 1px solid #dedede;
       text-align: center;
       max-width: 100px;
       padding: 5px;
       border-radius: 5px;
     }

   }
 }

}
